@font-face {
  font-family: "Kenia";
  src: url("../../assets/fonts/Kenia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("../../assets/fonts/Signika-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo2";
  src: url("../../assets/fonts/Baloo2-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

