.main.modal-open{
    z-index: 1;
}

html.modal-open{
  overflow: hidden;
}


.cart-page {
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;

  gap: 20px;

  &-items-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pagination-block{
    gap: 10px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(96, 96, 96, 0.335);
    padding-bottom: 20px;
    font-size: 1.3rem;
    margin-bottom: 10px;

    .limit-container{
      display: flex;
      align-items: center;

      .limit-controller{
        flex-shrink: 1;
        font-size: 1.1rem;
        text-align: center;
        border: none;
      }
    }


    .page-container{
      display: flex;
      gap: 10px;
    }

    .page-controls{
      display: flex;
      gap: 5px;

      align-items: center;
      .btn{
        font-size: 1rem;
      }
    }
  }
}

.main{
  .cart-page{
    margin-top: 10px;
  }
}

.page-header{
  font-family: 'Kenia';
  font-size: 2rem;
  color: #F89F5B;
  flex: 2 1 300px;
}

.cart-page-container{
  padding: 20px 15px;
  flex: 3 0 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.summary-container{
  flex: 1 1 300px;
}

.cart-empty-msg{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  padding-left: 0;
  font-size: 1.3rem;
  .product-link{
    color: #811abd;

    &:hover{

      text-shadow: 2px 2px 3px #9c5dc0;
    }
  }
}


