.filter {
  padding: 8px;
  &-group {
    max-height: 200px;
    overflow: auto;
  }
  &-title {
    font-weight: 900;
    padding-bottom: 10px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &-spoiler {
    padding-top: 10px;
    color: #666;
    cursor: pointer;
    &:hover {
      color:aqua;
    }
  }
  &-field {
    margin: 0 0 5px;
    cursor: pointer;
    position: relative;
  }
  &-amount {
    position: absolute;
    right: 10px;
    top: 0;
  }
}
.hidden {
  display: none;
}