.product-details-page{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 15px;

  .btn-back{
    padding: 5px;
    line-height: 1;
    font-size: 1.2rem;

    .left-arrow{
      transition: 0.2s;
      width: 15px;
      height: 15px;
      background-image: url('../../../assets/img/left-arrow.svg');
      background-size: cover;
      order: -1;

      .btn-back:hover &{
        filter: invert(100%);
      }
    }

    &:hover .left-arrow{
      filter:invert(100%);
    }
  }

  .bread-crumbs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    word-spacing: 20px;
  }

  .selected{
    box-sizing: border-box;
    border: 2px solid orange;
  }
  
}

.photos-container{
  flex: 2 1;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  gap: 20px;
}

.info-container{
  display: flex;
  flex: 8 0;
  .star-rating{
    font-size: 1.3rem;
    width: 104.093px;
  }
}

.details-container{

  flex: 3 0;
}

.buttons-container{

  flex: 1 1;
}

.big-img{
  align-self: center;
  max-height: 40vh;
  max-width: 100%;
  width: 500px;
  height: 500px;
  border-radius: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(219, 219, 219);

}

.photos-list{
  flex-grow: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

.photo-item{
  cursor: pointer;
  flex: 0 1 100px;
  min-width: 100px;
  height: 75px;
  background-size: cover;
  border-radius: 5px;
}

.product-desc-title{
  font-size: 2rem;
  margin: 0;
}

.head-line{
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
}

.desc-item{
  font-size: 1.2rem;
  line-height: 1;
  
}

.buttons-container{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;

  .btn{
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.in-cart{
  .btn-desc-add{
    background-color: #653780;
    color: white;
    &:hover{
    background-color: #9268aa;

    }
  }
}





@media screen and (max-width: 820px) {

  .product-details-page{
    padding-top: 15px;
  }

  .info-container{
    flex-direction: column;
  }

  .photos-container{
    flex: 2 1;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    gap: 20px;
  }

  .photos-list{
    flex-shrink: 1;

  }

  .buttons-container{
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {

  .product-details-page {
    .bread-crumbs-container{
      font-size: 1rem;
      word-spacing: 3px;
    }
  }

  .photo-item{
    cursor: pointer;
    flex: 0 1 50px;
    min-width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 5px;
  }

  .big-img{
    align-self: center;
    max-height: 40vh;
    max-width: 100%;
    width: 300px;
    height: 300px;
  }


}