.cart-page-item{
  position: relative;
  display: flex;
  gap: 10px;

  .drop-from-cart{
    visibility: hidden;
    cursor: pointer;
    font-size: 14px;
    bottom: 0;
    right: 0;
    position: absolute;
    text-decoration: underline;
    opacity: 0;
    transition: 0.3s ease-out;
  }

  &:hover .drop-from-cart{
    visibility: visible;
    opacity: 1;
    color: rgb(203, 50, 50);
  }
  
  .img-block{
    border-radius: 15px;
    overflow: hidden;
    height: 100px;
    background-position: center;
    background-size: cover;
    flex: 0 0 100px;
    transition: all 0.3s;

    &::before{
      cursor: pointer;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #f5b833;
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover:before{
      opacity: 0.4;
    }
   
  }
  
  .description-block{
    flex-grow: 1;
    padding-top: 2px; 
    display: flex;
    flex-direction: column;

    .product-name::first-letter{
      text-transform:capitalize;
    }

    .product-desc{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1; 
      -webkit-box-orient: vertical;
    }

  }

  .qty-controls{
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    flex-shrink: 0;
    align-items: center;
    gap: 5px;

    .btn-round{
      border-radius: 50%;
      width: 25px;
      height: 25px;
      font-size: 1.5rem;
    }

    .qty-buttons{
      display: flex;
      gap: 10px;

      .item-qty{
      line-height: 1;
      align-self: center;
      font-size: 1.3rem;
      }
    }
    .product-price{
      flex: 0 0;
    }
  }


}